---
import Layout from "../component/Layout.astro";
---
<Layout titlePages="acerca de">
    <h1>quienes somos nosotros</h1>
    <p>somos la empresa mas chingona del mundo y qie le arda al que sea.</p>
</Layout>