---
import Layout from "../component/Layout.astro"
import Button from "../component/ButtonSub"
---

<Layout titlePages="pagina inicial" contPages="esta es mi pagina web prinsipal">
	<h1>pagina inicial</h1>
    <p>viebenidos a minpagina web</p>
    <Button client:visible/>
 
</Layout>
