---

import Card from "../component/card.astro";
import Layout from "../component/Layout.astro";
---

<Layout titlePages="nuestros productos">
    <h1 class="text-center uppercase text-2xl font-bold text-red-200 my-10">nuestros productos</h1>
<p class="text-center md:text-left mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis fugiat quia repellendus repudiandae,
dolorem perspiciatis iste, eius ut enim in voluptates culpa soluta, explicabo quidem maxime facilis libero consequatur beatae.</p>
<div class="grid md:grid-cols-3 text-center gap-y-14 gap-x-15 mt-10 mx-auto container">
    <Card title="hola mundo" content="esta es una prueba "imagen="DS-2CE56D0T-IRPF28.png"/>
    <Card title="que paso perro " content="segundo producto "imagen="DS-2CE56D0T-IRPF28.png"/>
    <Card title="programacion" content="tercer producto" imagen="DS-2CE56D0T-IRPF28.png"/>
    <Card title="venta de repuestos" content="cuarto producto"imagen="DS-2CE56D0T-IRPF28.png"/>
    <Card title="mejore carros" content="cuanto vale ese carro"imagen="DS-2CE56D0T-IRPF28.png"/>
    <Card title="esta es una cart de prueba" content="estoy aprendiendo con astro estas maricadas"imagen="DS-2CE56D0T-IRPF28.png"/>

</div>

</Layout>
